@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  color: white;
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  margin: 10px;
}